<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BujitApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bujit">
        <activity
            android:name=".ExpenseActivity.ExpenseActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".NavigationItems.IncomeStreams.IncomeStreamsActivity">
        </activity>

        <activity android:name=".NavigationItems.CreditUtil.CreditUtilActivity">
        </activity>

        <activity android:name=".NavigationItems.Banking.BankingActivity">
        </activity>

        <activity android:name=".NavigationItems.Settings.SettingsActivity">
        </activity>

        <activity android:name=".Tutorial.TutorialActivity">
        </activity>
    </application>

</manifest>
